/* Header.css */

/* Estilos base para la línea */
.nav-link {
    position: relative;
    text-decoration: none;
    color: white; /* Color del texto */
    font-size: 16px;
    font-weight: 800;
    padding: 10px;
    margin: 10px;
  z-index: 10;
  }
  
  /* Estilos para la línea blanca */
  .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white; /* Color de la línea blanca */
    transition: width 0.3s ease-in-out;
    transform-origin: left;
  }
  
  /* Animación al hacer hover */
  .nav-link:hover::before {
    width: 100%;
  }

  a{
    text-decoration: none;   
  }
  .link-underline {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto del contenedor */
  }
